.add-form-container {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 60px;
  height: 60px;
  background-color: #494430;
  overflow: hidden;
  transition: height 2s, width 2s;
  display: flex;
  flex-shrink: 0;
  border: 2px black solid;
  border-radius: 5px;
  button {
    width: 100%;
  }
}

.form-container {
  background-color: rgba($color: #7a7c7a, $alpha: 0.95);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 99;
}
.form-main {
  background-color: rgb(202, 209, 216);
  // height: 300px;
  width: 300px;
  font-size: 1.2rem;
  .close-bar {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    background-color: aliceblue;
    .close-button {
      font-size: 1.2rem;
      background: none;
      border: none;
      color: red;
      transition: font-size 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 10px;
    }
    .close-button:hover {
      font-size: 2rem;
      cursor: pointer;
    }
    .close-button:focus {
      background-color: yellow;
    }
    #taskPriorityID {
      cursor: pointer;
    }
  }
  .form-input-title {
    display: flex;
    flex-direction: column;
    text-align: left;
    :last-child {
      margin-top: 5px;
    }
  }
}
.add-input-priority {
  select {
    width: 60%;
    font-size: 1.2rem;
    text-align: center;
  }
}
.open-button-container {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 60px;
  height: 60px;
  background-color: #494430;
  overflow: hidden;
  transition: height 2s, width 2s;
  display: flex;
  flex-shrink: 0;
  border: 2px black solid;
  border-radius: 5px;
  button {
    transition: font-size 1s;
    width: 100%;
  }
}
.add-Task-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  min-width: 60px;
}
.add-form-container:hover {
  cursor: pointer;
  display: flex;
}

form {
  // width: 400px;
  // height: 200px;

  div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  .add-input-title {
    input {
      width: 300px;
    }
  }
}
.submit-conainer {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  input {
    font-size: 1.2rem;
    padding: 10px;
  }
  input:hover {
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px) {
  .add-form-container {
    position: absolute;
    left: 0%;
    top: 0%;
  }
  .add-form-container:hover {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .open-button-container {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: center;
    button {
      background-color: #494430;
      color: white;
      width: 100%;
      border: none;
    }
    button:hover {
      background-color: #686146;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}
